# Cross-Validation

In [2]:
import seaborn as sns

df = sns.load_dataset('titanic')
df.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True

In [4]:
df['age'].fillna(29.0, inplace=True)

In [5]:
X = df[['age', 'sibsp', 'parch']]
y = df['survived']

In [6]:
X.shape, y.shape

((891, 3), (891,))

### Train Test Split

In [7]:
from sklearn.model_selection import train_test_split

In [12]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
Xtrain.shape, Xtest.shape

((712, 3), (179, 3))

In [10]:
ytrain.shape, ytest.shape

((712,), (179,))

### Create a model

In [16]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(Xtrain, ytrain)   # train the model = find the best coefficients
model.score(Xtrain, ytrain)

0.6404494382022472

### Cross-Validation

In [33]:
from sklearn.model_selection import cross_val_score

# cv=number of splits
scores = cross_val_score(model, Xtrain, ytrain, cv=5, scoring="accuracy")
scores

array([0.65734266, 0.61538462, 0.63380282, 0.63380282, 0.61971831])

In [37]:
scores.mean().round(3), scores.std().round(3)

(0.632, 0.015)

### Optimization finished: what next?

In [36]:
model.fit(Xtrain, ytrain)
print('training score: ', model.score(Xtrain, ytrain).round(3))
print('test score    : ', model.score(Xtest, ytest).round(3))

training score:  0.64
test score    :  0.62

#### Interpretation

* training and test score are similar: all good
* training >> test score: overfitting
* traing < test score: random fluctuation; probably your dataset is very small or BUG