### Install pandas

In [3]:
!pip install pandas

Requirement already satisfied: pandas in /home/tommu/anaconda3/envs/ds/lib/python3.7/site-packages (0.25.3)
Requirement already satisfied: pytz>=2017.2 in /home/tommu/anaconda3/envs/ds/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in /home/tommu/anaconda3/envs/ds/lib/python3.7/site-packages (from pandas) (1.18.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/tommu/anaconda3/envs/ds/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /home/tommu/anaconda3/envs/ds/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.13.0)

### Import pandas

In [5]:
import pandas as pd

### Make some data - dictionaries or lists ok!

In [15]:
data_dic = {"0":[0,1,2]}

In [24]:
data_dic["0"][2]

2

In [45]:
data = [0,1,2,3,4,5,6,7,8,9]

### made a dataframe with some data

In [51]:
df = pd.DataFrame([data, data])

In [52]:
df

   0  1  2  3  4  5  6  7  8  9
0  0  1  2  3  4  5  6  7  8  9
1  0  1  2  3  4  5  6  7  8  9

### basic analysis of the dtaframe

In [58]:
df.shape, df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 10 columns):
0    2 non-null int64
1    2 non-null int64
2    2 non-null int64
3    2 non-null int64
4    2 non-null int64
5    2 non-null int64
6    2 non-null int64
7    2 non-null int64
8    2 non-null int64
9    2 non-null int64
dtypes: int64(10)
memory usage: 288.0 bytes

((2, 10), None)

In [14]:
df.index, df.columns

(RangeIndex(start=0, stop=10, step=1), RangeIndex(start=0, stop=1, step=1))

### basic slicing of the dataframe

In [ ]:
df.loc[] #loc searches based on index / column names

df.iloc[] #iloc searches basd on the position of the index / column

In [41]:
df.loc[0] #first argument is the row, comma, second argument is the columns

0    0
Name: 0, dtype: int64

In [54]:
df.loc[0,[1,2,3,4]]

1    1
2    2
3    3
4    4
Name: 0, dtype: int64

In [57]:
df.iloc[[0,1],[1,2,3,4]]

   1  2  3  4
0  1  2  3  4
1  1  2  3  4

### And we're out of time! Much more besides
* summarising dataframes
* merging dataframes
* etc etc
* Go to the course material, 2.1, and download the 'exercise_pandas_basics', and the pandas cheat sheet, and play around